@import '../../global.scss';

.Body {
    display: flex;
    flex-direction: column;
    background: $orange;
    width: 100%;

    .text-section {
        padding: 4em 4em 4em 4em;
        text-align: left;

        p {
            text-align: justify;
        }
    }

    .image-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 4em;
        margin: 0;
        gap: 0;
    }

    .path {
        stroke: $white;
        stroke-opacity: 0.6;
        stroke-width: 1;
        scale: 1;
    }
}

//Animation
.grid-item {
    margin: 0;
    padding: 0;
    line-height: 0;
    display: block; // Ensures no inline spacing
    flex: 0 0 auto; // Prevents flex from adding space
    width: 62px; // Explicitly set width
    height: 62px; // Explicitly set height
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@media (max-width: 600px) {
    .Body {
        height: auto;

        .text-section {
            padding: 1em;
            text-align: left;
        }

        .Grid {
            display: none;
        }
    }

    a {
        font-size: 1em;
    }
}