@use '../../styles/variables' as *;

.Body {
    display: flex;
    padding: 0.5em 1.5em;
    width: 100%;
    background-color: var(--theme-background);

    .text-section {
        padding: 4em 2em 0em 4em;
        text-align: left;

        p {
            text-align: justify;
        }
    }

    .image-section {
        display: flex;
        justify-content: center;
        padding: 4em 2em;
        margin: 0;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@media (max-width: 600px) {
    .Body {
        height: auto;

        .text-section {
            padding: 1em;
            text-align: left;
        }

        .Grid {
            display: none;
        }
    }

    a {
        font-size: 1em;
    }
}