:root {
  /* Colors */
  --blue: #295496;
  --white: #fff;
  --lightgrey: #f8f8f8;
  --black: #2d2926;
  --orange: #e14414;

  /* Shades of Grey */
  --grey100: #2d2926;
  --grey90: #58514b;
  --grey80: #847971;
  --grey70: #aba29c;
  --grey60: #d0cbc8;

  /* Shades of Blue */
  --blue100: #002d72;
  --blue90: #19488f;
  --blue80: #3f6bad;
  --blue70: #98b6e4;

  /* Shades of Green */
  --green100: #42762d;
  --green90: #5fad41;
  --green80: #91cd7a;
  --green70: #c2e3b5;

  /* Shades of Red */
  --red100: #8d1818;
  --red90: #cc0000;
  --red80: #df4242;
  --red70: #ff9191;

  --yellow: #ffb000;

  /* Fonts */
  --meta-sans: "Meta Sans", "Fira Sans", sans-serif;
  --meta-serif: "Meta Serif", serif;
  --regular: 400;
  --bold: 700;

  /* Theme Colors - Light */
  --light-background: var(--orange);
  --light-text-primary: var(--black);
  --light-text-secondary: var(--white);
  --light-link: var(--white);
  --light-link-hover: var(--black);

  /* Theme Colors - Dark */
  --dark-background: var(--black);
  --dark-text-primary: var(--orange);
  --dark-text-secondary: var(--grey60);
  --dark-link: var(--grey60);
  --dark-link-hover: var(--orange);
}

/* Light theme class */
.theme--light {
  --theme-background: var(--light-background);
  --theme-text-primary: var(--light-text-primary);
  --theme-text-secondary: var(--light-text-secondary);
  --theme-link: var(--light-link);
  --theme-link-hover: var(--light-link-hover);
}

/* Dark theme class */
.theme--dark {
  --theme-background: var(--dark-background);
  --theme-text-primary: var(--dark-text-primary);
  --theme-text-secondary: var(--dark-text-secondary);
  --theme-link: var(--dark-link);
  --theme-link-hover: var(--dark-link-hover);
}

/* Global Styles */
body {
  background-color: var(--theme-background);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 1.8em;
  font-family: var(--meta-serif);
  font-weight: var(--bold);
  color: var(--theme-text-primary);
  margin: 0;
  padding: 0px 10px 20px 10px;
}

p {
  font-size: 1.1em;
  font-family: var(--meta-sans);
  font-weight: var(--regular);
  color: var(--theme-text-secondary);
  margin: 0;
  padding: 10px;
}

a {
  color: var(--theme-link);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--theme-link-hover);
}

button {
  background-color: var(--theme-background);
  border: 0;
  color: var(--theme-text-secondary);
  padding: 0px 8px;
  text-align: center;
  display: inline-block;
  font-size: 0.6em;
  font-family: var(--meta-sans);
  cursor: pointer;
}

@media (max-width: 600px) {
  body {
    padding: 1em;
    height: auto;
  }

  h1 {
    font-size: 1.4em;
  }

  p {
    font-size: 1em;
  }
}
