@use '../../styles/variables' as *;

.Footer {
    align-items: center;
    display: flex;
    padding: 0.5em 1.5em;
    font-size: 1em;
    font-family: var(--meta-sans);
    font-weight: var(--regular);
    width: 100%;
    bottom: 0;

    .social-media-list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 2em 4em 1em 4em;
        margin: 0;
        color: var(--theme-text-primary);

        li {
            padding: 0 0.8em;
        }
    }

    .social-media-list svg {
        fill: var(--theme-text-secondary);
        width: 24px;
        height: 24px;
    }

    .footer-links {
        display: flex;
        justify-content: left;
        align-items: center;
        list-style-type: none;
        padding: 0.1em 4em;

        li {
            padding: 0 0.8em;
        }

    }
}

@media screen and (max-width: 600px) {
    .Footer {
        height: auto;
        padding: 0 1em;

        .text-section {
            text-align: left;
        }

        .social-media-list {
            padding: 0.5em 0;
        }

        .footer-links {
            padding: 0.5em 0;
        }
    }

    a {
        font-size: 1em;
    }
}