@import '../../global.scss';

.Footer {
    align-items: center;
    background: $orange;
    color: $white;
    display: flex;
    padding: 0.5em 1.5em;
    font-size: 1em;
    font-family: $meta_sans;
    font-weight: $regular;
    width: 100%;
    bottom: 0;

    .social-media-list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 2em 4em 1em 4em;
        margin: 0;

        li {
            padding: 0 0.8em;
        }
    }

    .footer-links {
        display: flex;
        justify-content: left;
        align-items: center;
        list-style-type: none;
        padding: 0.1em 4em;

        li {
            padding: 0 0.8em;
        }

    }
}

.Address {
    padding: 0, 1.5em;
    text-align: left;
}

@media screen and (max-width: 640px) {
    .Title {
        padding: 1em 1.5em;
    }
}

@media screen and (max-width: 414px) {
    .Footer {
        padding: 1em;
        height: auto;

        .text-section {
            padding: 1em;
            text-align: left;
        }

        .image-grid {

            padding-top: 4em;
            padding-bottom: 4em;

            img {
                width: 80px;
                height: 80px;
            }
        }

        .social-media-list {
            padding: 1em;
        }

        .footer-links {
            padding: 1em;
        }
    }

    a {
        font-size: 1em;
    }
}