$blue: #295496;
/* header. BU Blue */
$white: #fff;
$lightgrey: #f8f8f8;
$black: #2d2926;
$orange: #EC4E20;

/* Shades of Grey */
$grey100: #2d2926;
$grey90: #58514b;
$grey80: #847971;
$grey70: #aba29c;
$grey60: #d0cbc8;

/* Shades of Blue (Deb to Major Creditor Colors */
$blue100: #002d72;
$blue90: #19488f;
$blue80: #3f6bad;
$blue70: #98b6e4;

/* Shades of Green (Green Investment Needs) */
$green100: #42762d;
$green90: #5fad41;
$green80: #91cd7a;
$green70: #c2e3b5;

/* Shades of Red (Used on Sankey Chart */
$red100: #8d1818;
$red90: #cc0000;
$red80: #df4242;
$red70: #ff9191;

$yellow: #ffb000;
/* Other Category on Sankey Chart */

/* Fonts */
/* to add fonts here */
$regular: '400';
$bold: '700';